.container {
  width: 100%;
  position: relative;
}

.error {
  color: red!important;
}

.active {
  box-shadow: 0 0 1px 1px gray;
}

.hasError {
  box-shadow: 0 0 1px 1px red;
}

.wrapper {
  position: relative;
}

.input {
  height: 6.4rem;
  padding: 0 2.4rem;
  font-size: 2.4rem;
  width: 100%;
  background-color: #F2F2F2;
  border-radius: .4rem;

  @include media-mobile {
    padding: 0 1.2rem;
    height: 5.4rem;
    font-size: 2rem;
  }
}

.prompt {
  color: grey;
  font-size: 1.2rem;
  margin-top: .4rem;
}
