.container {
  position: relative;
  background: #7D5A3A;
}

.wrapper {
  position: relative;
  z-index: 10;
  min-height: 60rem;
  width: 64rem;
  padding-top: 14rem;
  padding-bottom: 12rem;
  padding-left: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-mobile {
    width: 100%;
    padding-left: 0;
    min-height: 40rem;
    padding-top: 12rem;
    padding-bottom: 3.2rem;
  }
}

.title {
  font-size: 6.4rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1.6rem;

  @include media-mobile {
    font-size: 3.2rem;
  }
}

.text {
  font-size: 1.8rem;
  font-weight: 300;
  color: white;

  @include media-mobile {
    font-size: 1.2rem;
  }
}

.img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;

  @include media-mobile {
    width: 100%;
  }

  &:before {
    content: '';
    display: block;
    margin-left: -2px;
    height: 100%;
    background: linear-gradient(89.93deg, #7D5A3A 0.08%, rgba(125, 90, 58, 0.74) 99.95%);
  }
}
