@import "styles/_variables";

.isLarge, .isSmall {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.4rem;
  height: 100%;
  width: 100%;
  background-color: $colorBrown;
  border-radius: 1.6rem;
  transition: all 200ms ease-in;

  &:hover {
    opacity: .9;
  }
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
  color: white;
}

.isSmall .title {
  font-size: 2.4rem;
}

.icon {
  width: 10rem;
  height: 10rem;
  color: white;
  margin-left: auto;
}

.isSmall .icon {
  width: 6rem;
  height: 6rem;
}
