.container {
  margin-top: 4.6rem;
  background-color: white;
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.25);
  border-radius: .2rem;
  min-height: 60rem;
  width: 92rem;
  padding: 7rem 12rem 10rem;

  @include media-mobile {
    min-height: 30rem;
    width: 100%;
    padding: 2rem 1.2rem 4rem;
  }
}

.check {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;

  @include media-mobile {
    width: 8rem;
    height: 8rem;
  }
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
  margin: 2.4rem 0 5.2rem;
  text-align: center;

  @include media-mobile {
    font-size: 2.4rem;
    margin: 1.6rem 0 4rem;
  }
}

.footer {
  border-top: 1px solid #828282;
  padding-top: 1.6rem;
  margin-top: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include media-mobile {
    display: block;
    padding-top: 1.6rem;
    margin-top: 6rem;
  }
}

.homeBtn {
  display: flex;
  justify-content: center;
  padding: 6.4rem 0 12rem;

  @include media-mobile {
    padding: 4rem 2rem 8rem;
  }
}

.price {
  width: 40%;
  margin-right: auto;

  @include media-mobile {
    width: 100%;
    margin-bottom: 2.4rem;
  }
}

.btnPrinter {
  margin-right: 1.2rem;
  width: 6.4rem;
  padding: 0;
  font-size: 0;
  border: 1px solid #828282;

  svg {
    margin: 0!important;
  }

  @include media-mobile {
    width: 6.4rem;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
}

@include media-mobile {
  .btnCheck {
    width: 74% !important;
  }
}
