.wrapper {
  min-height: 100vh;
  padding-bottom: 12rem;
}

.products {
  margin: 12rem auto 3.2rem;

  @include media-mobile {
    margin: 6rem auto 2rem;
  }
}

.moreBtn {
  text-align: center;
}

.banner {
  margin: 6.4rem 0;
}
