.fontLCChalk {
  color: red;
  font-family: "LC Chalk", serif;
}


.container {
  width: 124.8rem;
  margin: 0 auto;
}


.container-m {
  width: 29.2rem;
  margin: 0 auto;
}


.minHeight {
  min-height: 100vh;
}


@mixin container {
  width: 124.8rem;
  margin: 0 auto;
}

@mixin container-m {
  width: 29.2rem;
  margin: 0 auto;
}

@mixin -container-m {
  margin: 0 -1.4rem;
}