.fontLCChalk {
  color: red;
  font-family: "LC Chalk", serif;
}


.container {
  width: 124.8rem;
  margin: 0 auto;
}


.container-m {
  width: 29.6rem;
  margin: 0 auto;
}


.minHeight {
  min-height: 100vh;
}