@import "styles/_variables";

.isLarge {
  margin: 10rem auto;
}

.isSmall {
  margin: 4rem auto;
}

.isLarge .row {
  margin: 0 -3.6rem!important;
}

.isSmall .row {
  overflow: auto;
  white-space: nowrap;
  @include -container-m;
  padding-left: .4rem;

  & * {
    white-space: normal;
  }

  li {
    display: inline-block;
    width: 60%;
    padding: 0 1rem;
  }
}

.isLarge .card {
  padding: 0 3.6rem!important;
}