
.container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.25);
}

.wrapper {
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-mobile {
    height: 4.6rem;
  }
}

.back {
  height: 7.6rem;

  @include media-mobile {
    height: 4.6rem;
  }
}

.text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-left: 2.4rem;
}

.burger {
  width: 3.6rem;
  height: 3.6rem;
  color: $colorBrown;

  @include media-mobile {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.logo {
  height: 4rem;
  @include media-mobile {
    height: 2rem;
  }
}

.phone {
  font-size: 2.4rem;
  color: $colorBrown;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;

  @include media-mobile {
    width: auto;
  }
}

.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include media-mobile {
    width: auto;
  }
}

.btnBasket {
  margin-left: 2.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  padding: 0 2.4rem;
  width: 20rem;
  height: 5.4rem !important;

  @include media-mobile {
    width: 10rem;
    font-size: 1.6rem;
    height: 3rem!important;
  }
}
