.container {
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-radius: 3.2rem;
  background-color: white;
  transition: box-shadow 200ms ease-in;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.5);
  }

  @include media-mobile {
    height: 4.8rem;
    font-size: 2.4rem;

    & * :hover {
      box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.25);
    }
  }
}

.plus {
  composes: container;
  cursor: pointer;
  width: 6.4rem;

  @include media-mobile {
    width: 4.8rem;
  }
}

.picker {
  composes: container;
  color: white;
  background-color: #4F4F4F;
  width: 14rem;
  position: relative;
  overflow: hidden;

  @include media-mobile {
    width: 12rem;
  }
}

.sign {
  transition: all 200ms ease-in;
  cursor: pointer;
  position: absolute;
  width: 4rem;
  top: 0;
  bottom: 0;
  font-size: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &:hover {
    background-color: #4F4F4F;
  }
}

@include media-mobile {
  .sign:hover {
    background-color: transparent;
  }
}

.signMinus {
  composes: sign;
  left: 0;
}
.signPlus {
  composes: sign;
  right: 0;
}

.black {
  .container {
    background-color: #4F4F4F;
    font-size: 2.4rem;
    color: white;

    &:hover {
      box-shadow: none;
    }

    @include media-mobile {
      height: 4rem;
      border-radius: 3.2rem;
      background-color: #4F4F4F;
      font-size: 1.6rem;
    }
  }

  .picker {
    width: 20rem;

    @include media-mobile {
      width: 12rem;
    }
  }

  .sign {
    color: white;
    width: 7rem;
    font-size: 3rem;
    font-weight: 400;

    &:hover {
      background-color: #828282;
    }

    @include media-mobile {
      color: white;
      width: 4rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
}
