.container {
  min-height: 80vh;
  padding: 5% 0;

  @include media-mobile {
    padding: 10% 0;
    min-height: 80vh;
  }
}

.code {
  font-size: 12rem;

  @include media-mobile {
    font-size: 8rem;
  }
}

.title {
  font-size: 4rem;

  @include media-mobile {
    font-size: 2rem;
  }
}
