@import "styles/_variables";

@mixin button-arrow {
  opacity: .3;
  transition: all 200ms ease-in;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0!important;
  bottom: 0!important;
  right: 0!important;
  margin-top: 0!important;
  height: 100%!important;
  width: 15%!important;

  &:before {
    content: '';
    display: block;
    background: url("./assets/keyboard_arrow_right.svg") no-repeat center;
    background-size: contain;
    width: 6.4rem;
    height: 6.4rem;
  }

  &:hover {
    opacity: 1;
  }
}

:global {
  .swiper-button-disabled {
    opacity: .1!important;
  }
  .swiper-button-next {
    @include button-arrow;
    background: $gradientSlider!important;
  }
  .swiper-button-prev {
    @include button-arrow;
    left: 0!important;
    background: $gradientSliderLeft!important;

    &:before {
      transform: rotate(180deg);
    }
  }
  .swiper-pagination-bullet-active {
    background: #7D5A3A!important;
  }
}

.isSmall {
  :global {
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }
}