.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.2rem;

  @include media-mobile {
    display: block;
    margin: 0;
  }
}

.card {
  padding: 0 1.2rem 2.4rem;

  @include media-mobile {
    padding: 0;
    margin-bottom: 2.4rem;
  }
}

.card_3 {
  width: 33.33%;

  @include media-mobile {
    width: 100%;
  }
}

.card_4 {
  width: 25%;

  @include media-mobile {
    width: 100%;
  }
}
