.isLarge {
  &.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.2rem;
  }

  .card {
    padding: 0 1.2rem 2.4rem;
  }

  .card_3 {
    width: 33.33%;
  }

  .card_4 {
    width: 25%;
  }
}
.isSmall {
  &.row {
  }

  .card {
    margin-bottom: 2.4rem;
  }
}