
.price {
  color: #828282;
  font-size: 3.6rem;
  font-weight: bold;
}

.small {
  font-size: 1.2rem;
  white-space: nowrap;

  @include media-mobile {
    display: block;
    text-align: right;
  }
}

.wrapper {
  margin-left: 4.2rem;

  @include media-mobile {
    margin-bottom: 2.4rem;
    margin-left: 0;
  }
}