.block {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
  height: 45.6rem;
  border-radius: .8rem;

  @include media-mobile {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
    height: 24rem;
  }
}

.title {
  text-align: right;
  margin-top: 1.6rem;

  @include media-mobile {
    text-align: right;
    margin-top: 1.6rem;
  }
}
