.wrapper {
  background-color: rgba(125, 90, 58, .9);
  padding: 6.4rem 0;
}

.logo {
  display: block;
  width: 20rem;
  margin: 0 auto 4.8rem;
}

.isSmall .logo {
  margin-bottom: 2.4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.isSmall .row {
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  font-size: 1.8rem;
  color: white;
}

.isSmall .contacts {
  margin-top: 4.8rem;
}

.contact {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 1.2rem;

  svg {
    margin-right: 1.2rem;
  }
}

.isSmall .contact {
  font-size: 1.6rem;
}

.phone {
  composes: contact;
  font-size: 3.6rem;
  font-weight: 500;
}

.isSmall .phone {
  margin-top: 3.6rem;
  font-size: 3.2rem;
}

.nav {
  color: white;
  font-size: 2.4rem;
  margin-top: 2.4rem;

  a {
    display: block;
    margin-top: 1.2rem;
  }
}

.bottom {
  background-color: #F2994A;
  padding: 2.4rem 0;
  font-size: 2rem;
}

.isSmall .bottom{
  font-size: 1.6rem;
}