
.background {
  background-color: $colorBrown;
}

.isLarge {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem 0;
  min-height: 48rem;
}

.isSmall {
  position: relative;
  height: auto;
  padding: 6.4rem 0;
  min-height: 32rem;
}

.wrapper {
  width: 64rem;
}

.isSmall .wrapper {
  width: 100%;
  position: relative;
  z-index: 12;
}

.title {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: white;
}

.isSmall .title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.text {
  font-size: 2.4rem;
  color: white;
}

.isSmall .text {
  font-size: 1.6rem;
}

.side {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}

.isSmall .side {
  width: 100%;
}

.img {
  position: relative;
  height: 100%;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: $gradientBrown;
  }
}

.isSmall .img {
  &:before {
    background: $gradientBrown;
  }
}
